[user]
	name = Jussi Kalliokoski
	email = jussi.kalliokoski@gmail.com
[push]
	default = simple
[alias]
	diff = diff --color=always
	d = difftool
	standup = log --since yesterday --oneline --author jussi.kalliokoski
	todo = grep -n -e TODO -e FIXME -e XXX -e OPTIMIZE -e HACK
	save = !git add -A . && git commit -nmWIP
	cleanup = !"for branch in `git branch | ack \"^  \"`; do git branch -qd $branch >/dev/null 2>&1; done"
	b = !"git for-each-ref --format=\"%(refname) %(subject) (%(committerdate))\" --sort=committerdate refs/heads"
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[difftool]
	prompt = false
